	@keyframes up{
			0%{
				background-position: 0px 0px;
				}
			100%{
				background-position: 860px 0px;
			}
		}
		@keyframes right{
			0%{
				background-position: 0px 95px;
				}
			100%{
				background-position: 860px 95px;
			}
		}
		@keyframes down{
			0%{
				background-position: 0px 190px;
				}
			100%{
				background-position: 860px 190px;
			}
		}
		@keyframes left{
			0%{
				background-position: 0px 285px;
				}
			100%{
				background-position: 860px 285px;
			}
		}
		.pions{
			pointer-events: none;
			/*z-index: -1;*/
			width: 100px;
			height: 100px;
			background: url("../img/orc_pirates.png");
			background-size: 860px;
			animation: up 0.3s steps(9) infinite;		
		}