html,body{
	height: 100%;
}

table{
	border-collapse: collapse;
	width:100%;
	height: 50vh;
}


td{
	text-align: center;
	border: 1px solid;
	width: 5%;
}


td:hover{
	cursor: pointer;
	background-color: red !important;
}